@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://unpkg.com/leaflet@1.5.1/dist/leaflet.css');

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --orangeBrique:  #E86D26;
  --grisArdoise : #565656;
  --beigeSable:  #ECE1C8;
  --brunTerre: #7F5A3F;
  --grisCiment: #B9B9B9;
  --marronRouille: #8F3F2E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: Black;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  height: 100%;
}

.App-header {
  background-color: var(--grisArdoise);
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: transparent;
}
