.menu {
    display: flex;
    justify-content: center;
  }
  
  .menu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
  }

  .menu ul li{
    margin : 10px;
  }
  
  .menu a {
    display: inline-block;
    padding: 10px 20px;
    border: 2px solid white;
    border-radius: 4px;
    background-color: transparent;
    color: white;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
  }
  
  .menu a:hover {
    background-color: white;
    color: #333;
  }
  